table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 2px solid #000000;
    padding: 3px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

thead tr th {
    background-color: black; /* Cambia el color de fondo de la primera fila (encabezados) a negro */
    color: white; /* Cambia el color del texto a blanco para que sea visible sobre el fondo negro */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Ajustar el ancho de la columna "Títulos" */
th:nth-child(2) {
    width: 65%; /* Puedes ajustar el valor según sea necesario */
}

.center {
    text-align: center;
}

